@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Roboto";
    src: url("/Roboto/Roboto-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("/Roboto/Roboto-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("/Roboto/Roboto-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Roboto";
    src: url("/Roboto/Roboto-BoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
}

:root {
    --primary: #233162;
    --secondary: #318AC3;
    --tertiary: #77C1E7;
    --quaternary: #E0EDE0;
    --quinary: #DEE2A6;
    --error: #FF0000;
    --font: "Roboto";
}

body {
    font-family: var(--font);
    background-color: var(--primary);
    color: var(--quaternary);
}

h1 {
    font-size: 5rem;
    text-align: center;
    font-weight: bold;
}

h2 {
    font-size: 2.5rem;
    text-align: center;
}

h3 {
    font-size: 1rem;
    text-align: center;
}

a {
    color: var(--tertiary);
    text-decoration: none;
}

.error {
    color: var(--error);
    font-weight: bold;
}

.tab {
    overflow: hidden;
    width: 75rem;
    display: flex;
    margin: auto;
    border: 0.5rem solid var(--quaternary);
    flex-direction: row;
}

.tab button {
    cursor: pointer;
    padding: 1rem;
    transition: 0.1s;
    flex-grow: 1;
    background-color: var(--secondary);
}

.tab button:hover {
    background-color: var(--primary);
}

.tab button.active {
    background-color: var(--primary);
}

table {
    border: 0.5rem solid var(--quaternary);
    padding: 1rem;
    width: 75rem;
    margin: auto;
}

th {
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem;
}

td {
    padding: 0.5rem;
    border: 0.1rem solid var(--quaternary);
}

.fit {
    width: 1%;
    white-space: nowrap;
}

.button {
    background-color: var(--quinary);
    color: var(--primary);
    font-size: 2.5rem;
    text-align: center;
    font-weight: bold;
    padding: 1rem;
    margin: auto;
    margin-top: 2rem;
    cursor: pointer;
    width: 90%;
    display: block;
}

.card {
    background-color: var(--tertiary);
    border: 0.5rem solid var(--quaternary);
    border-radius: 1rem;
    padding: 1rem;
    width: 75rem;
    margin: auto;
    margin-top: 2rem;
    position: relative;
}

.card img {
    height: 4rem;
    margin-right: 0.5rem;
    margin-left: 1.5rem;
}

.card p {
    color: var(--primary);
    font-size: 2rem;
    font-weight: bold;
    vertical-align: middle;
    margin-left: 1.5rem;
}

.card p.text {
    font-size: 1.5rem;
    font-weight: normal;
    margin-left: 1.5rem;
    width: 100%;
}

.card input {
    font-size: 1.5rem;
    font-weight: normal;
    margin-left: 1.5rem;
    width: 50rem;
    padding: 1rem;
}

.card button {
    background-color: var(--quinary);
    color: var(--primary);
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    padding: 1rem;
    margin-left: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    cursor: pointer;
    display: inline-block;
}

.primary {
    color: var(--primary);
}

.inlineblock img {
    display: inline-block;
}

.inlineblock p {
    display: inline-block;
}

.formtab {
    display: flex;
    flex-direction: row;
    width: 75rem;
    margin: auto;
    border: 0.5rem solid var(--quaternary);
    margin-bottom: 2rem;
}

.form {
    background-color: var(--primary);
    font-weight: bold;
    padding: 1rem;
    flex-grow: 1;
    border-left: 0.1rem solid var(--quaternary);
}

.center {
    text-align: center;
}

.plus {
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    background-color: var(--tertiary);
    cursor: pointer;
    display: block;
    margin: auto;
    margin-top: 2rem;
}

.plus::before {
    content: "+";
    height: 4rem;
    width: 4rem;
    font-size: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--primary);
}

.close {
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    background-color: var(--error);
    cursor: pointer;
    display: block;
    position: absolute;
    right: -1.2rem;
    top: -1.2rem;
    transition: 0.1s;
    opacity: 0;
}

.close::before {
    content: "+";
    transform: rotate(45deg);
    height: 2rem;
    width: 2rem;
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--quaternary);
}

.card:hover .close {
    opacity: 1;
}

.pages {
    display: flex;
    flex-direction: row;
    width: 75rem;
    margin: auto;
    margin-top: 2rem;
    background-color: var(--secondary);
}

.pages p {
    flex-grow: 1;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem;
    border: 0.1rem solid var(--quaternary);
    cursor: pointer;
}

.pages p:hover {
    background-color: var(--primary);
}

.pages p.active {
    background-color: var(--primary);
}

.homelink {
    width: 7rem;
    height: 7rem;
    position: fixed;
    left: 0rem;
    top: 0rem;
}

.homelink img {
    width: 5rem;
    margin: 1rem;
    transition: 0.1s;
}

.homelink:hover img {
    transform: scale(1.1);
}

.switchcontainer {
    position: fixed;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.switchcontainer p {
    display: inline-block;
    font-size: 1.5rem;
    font-weight: bold;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    width: 4rem;
    height: 2rem;
    display: inline-block;
    margin: 1rem;
}

/* Hide default HTML checkbox */
.switch input {
opacity: 0;
width: 0;
height: 0;
}

/* The slider */
.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: var(--quaternary);
-webkit-transition: .4s;
transition: .4s;
}

.slider:before {
position: absolute;
content: "";
height: 1.6rem;
width: 1.6rem;
left: 0.2rem;
bottom: 0.2rem;
background-color: var(--primary);
-webkit-transition: .4s;
transition: .4s;
}

input:checked + .slider {
background-color: var(--tertiary);
}

input:focus + .slider {
box-shadow: 0 0 1px
}

input:checked + .slider:before {
-webkit-transform: translateX(2rem);
-ms-transform: translateX(2rem);
transform: translateX(2rem);
}

/* Rounded sliders */
.slider.round {
border-radius: 2rem;
}

.slider.round:before {
border-radius: 2rem;
}

.gui {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 25rem;
    background-color: var(--secondary);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    padding-top: 8rem;
    font-size: 1rem;
    font-weight: bold;
    border-right: 0.5rem solid var(--quaternary);
}

.gui input {
    width: 100%;
    height: 50%;
    border: 0.1rem solid var(--quaternary);
    border-radius: 0.5rem;
}

.gui select {
    width: 100%;
    height: 50%;
    border: 0.1rem solid var(--quaternary);
    border-radius: 0.5rem;
}

.guicard {
    background-color: var(--tertiary);
    border: 0.5rem solid var(--quaternary);
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 2rem;
    position: relative;
}

.rightbottombutton {
    background-color: var(--quinary);
    color: var(--primary);
    font-size: 2.5rem;
    text-align: center;
    font-weight: bold;
    padding: 1rem;
    margin: 2rem;
    cursor: pointer;
    width: 10%;
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
}

.righttopbutton {
    background-color: var(--quinary);
    color: var(--primary);
    font-size: 2.5rem;
    text-align: center;
    font-weight: bold;
    padding: 1rem;
    margin: 2rem;
    cursor: pointer;
    width: 10%;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

canvas {
    width: 35%;
    bottom: 0;
    margin: 2rem auto;
    border: 0.5rem solid var(--quaternary);
    border-radius: 4rem;
    background-color: var(--secondary);
}