@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Roboto";
    src: url("/Roboto/Roboto-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("/Roboto/Roboto-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("/Roboto/Roboto-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Roboto";
    src: url("/Roboto/Roboto-BoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
}

:root {
    --primary: #233162;
    --secondary: #318AC3;
    --tertiary: #77C1E7;
    --quaternary: #E0EDE0;
    --quinary: #DEE2A6;
    --error: #FF0000;
    --font: "Roboto";
}

body {
    font-family: var(--font);
    background-color: var(--primary);
    color: var(--quaternary);
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 5rem;
    text-align: center;
    font-weight: bold;
}

h2 {
    font-size: 2.5rem;
    text-align: center;
}

h3 {
    font-size: 1rem;
    text-align: center;
}

a {
    color: var(--tertiary);
    text-decoration: none;
}

.error {
    color: var(--error);
    font-weight: bold;
}

.button {
    background-color: var(--quinary);
    color: var(--primary);
    font-size: 2.5rem;
    text-align: center;
    font-weight: bold;
    padding: 1rem;
    margin: auto;
    margin-top: 2rem;
    cursor: pointer;
    width: 90%;
    display: block;
}

.card {
    background-color: var(--secondary);
    border: 0.5rem solid var(--quaternary);
    border-radius: 1rem;
    padding: 1rem;
    width: 75rem;
    margin: auto;
    margin-top: 2rem;
    position: relative;
}

.card h1 {
    color: var(--primary);
}

.card img {
    height: 4rem;
    margin-right: 0.5rem;
    margin-left: 1.5rem;
}

.card p {
    color: var(--primary);
    font-size: 2rem;
    font-weight: bold;
    vertical-align: middle;
    margin-left: 1.5rem;
}

.card p.text {
    font-size: 1.5rem;
    font-weight: normal;
}

.card input {
    font-size: 1.5rem;
    font-weight: normal;
    margin-left: 1.5rem;
    width: 50rem;
    padding: 1rem;
}

.card button {
    background-color: var(--quinary);
    color: var(--primary);
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    padding: 1rem;
    margin-left: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    cursor: pointer;
    display: inline-block;
}

.formtab {
    display: flex;
    flex-direction: row;
    width: 75rem;
    margin: auto;
    border: 0.5rem solid var(--quaternary);
    margin-bottom: 2rem;
}

.form {
    background-color: var(--primary);
    font-weight: bold;
    padding: 1rem;
    flex-grow: 1;
    border-left: 0.1rem solid var(--quaternary);
}

.centertext {
    text-align: center;
}

.homelink {
    width: 7rem;
    height: 7rem;
    position: fixed;
    left: 0rem;
    top: 0rem;
}

.homelink img {
    width: 5rem;
    margin: 1rem;
    transition: 0.1s;
}

.homelink:hover img {
    transform: scale(1.1);
}

.input {
    display: inline-block;
    height: 1vh;
    border-radius: 2.5vh;
    padding: 2vh;
    width: 40vh;
    font-size: 3vh;
    font-family: var(--font);
}

.inputbutton {
    display: inline-block;
    margin-left: 2vh;
    border-radius: 2.5vh;
    padding: 1vh;
    font-size: 3vh;
    font-family: var(--font);
    cursor: pointer;
    background-color: var(--quinary);
    color: var(--primary);
}

.header {
    background-color: var(--secondary);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header p {
    order: 2;
    flex-grow: 1;
    position: absolute;
    z-index: 1;
    font-size: 5vh;
    font-weight: bold;
    text-align: center;
    width: 100%;
    padding: 0;
    margin: 0;
    top: 1vh;
}

.inputbox {
    z-index: 2;
    order: 3;
    display: flex;
    margin: 2vh;
}

.accountbutton {
    order: 1;
    z-index: 2;
    margin: 2vh;
    border-radius: 2.5vh;
    padding: 2vh 5vh;
    font-size: 3vh;
    font-weight: bold;
    text-align: center;
    font-family: var(--font);
    cursor: pointer;
    background-color: var(--quinary);
    color: var(--primary);
}

.searchbar {
    display: block;
    margin: 2vh;
    margin-bottom: 20vh;
}

.searchbar button {
    display: inline-block;
    padding: 1vh;
    font-size: 3vh;
    font-family: var(--font);
    cursor: pointer;
    background-color: var(--quinary);
    color: var(--primary);
}

.searchbar select {
    display: inline-block;
    padding: 1vh;
    font-size: 3vh;
    font-family: var(--font);
    cursor: pointer;
    background-color: var(--quinary);
    color: var(--primary);
}

.searchbar input {
    display: inline-block;
    padding: 1vh;
    font-size: 3vh;
    font-family: var(--font);
    color: var(--primary);
}

iframe {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 2rem;
}

.games {
    background-color: var(--tertiary);
    width: 100%;
    display: flex;
    min-height: min-content;
    overflow-x: auto;
}

.game {
    width: 50vh;
    padding: 2vh;
    transition: 0.1s;
    flex: 1;
}

.game:hover {
    background-color: var(--secondary);
}

.game p {
    font-size: 3vh;
    font-weight: bold;
    text-align: center;
    color: var(--primary);
}

.gamelink {
    transition: 0.1s;
}

.gamelink:hover {
    color: var(--tertiary);
}

.verticalscroll {
    overflow-y: auto;
    height: 50vh;
}

.cardobject {
    background-color: var(--primary);
    padding: 1vh;
    margin: 1vh 0vh;
}

.cardobject p {
    font-size: 2vh;
    font-weight: bold;
    color: var(--quaternary);
}

.buttonrow {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

#notification
{
    font-size: 4vh;
    margin: 5px;
    padding: 2rem;
    filter: drop-shadow(10px 10px 10px var(--primary));
    border-radius: 5px;
    border: 2.5px solid var(--quaternary);
    visibility: hidden;
    color: var(--primary);
    background-color: var(--quaternary);
    position: fixed;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
}

#notification.show
{
    visibility: visible;
}

#popup
{
    font-size: 4vh;
    margin: 5px;
    padding: 2rem;
    filter: drop-shadow(10px 10px 10px var(--primary));
    border-radius: 5px;
    border: 2.5px solid var(--quaternary);
    visibility: hidden;
    color: var(--primary);
    background-color: var(--quaternary);
    position: fixed;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
    top: 50px;
}

#popup button {
    background-color: var(--quinary);
    color: var(--primary);
    font-size: 2.5rem;
    text-align: center;
    font-weight: bold;
    padding: 1rem;
    margin: 2rem;
    margin-top: 2rem;
    cursor: pointer;
    display: inline-block;
}

#popup.show
{
    visibility: visible;
}